Django==1.6.1
Fabric==1.8.1
South==0.8.4
amqp==1.4.1
anyjson==0.3.3
billiard==3.3.0.14
celery==3.1.8
django-celery==3.1.1
ecdsa==0.10
kombu==3.0.10
paramiko==1.12.1
pycrypto==2.6.1
pytz==2013.9
redis==2.9.0
django-widget-tweaks==1.3
