{% extends "base.html" %}
{% block menulinks %}
    <li><a href="/modpacks/">Home</a></li>
    <li><a href="/modpacks/settings/">Settings</a></li>
    <li class="active"><a href="/mods/">Mods</a></li>
    <li><a href="/mods/upload/">Add Mod</a></li>
    <li><a href="/mods/repair/">Repair</a></li>
{% endblock %}
{% block body %}
<ul class="modpacks">
<div class="panel-group" id="accordion">
    {% for mod in mods %}
            <div class="panel panel-default">
                <div class="panel-heading">
                <a class="panel-title" href="{{ mod.url }}">{{ mod.name }}</a> by {{ mod.author }}
                </div>
            </div>
            <p>{{ mod.description }}</p>

                {% for k,v in mod.versions.items %}
                        <div style="margin-bottom: 3px;">Mc {{ k }}
                            {% for o in v %}
                            <span class="label label-info">v{{ o }}</span>
                            {% endfor %}</div>
                {% endfor %}
    {% endfor %}
</div>
<ul class="pagination">
        {% if mods.has_previous %}
            <li><a href="?page={{ mods.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}

        <li class="active">
            <a href="#">Page {{ mods.number }} of {{ mods.paginator.num_pages }}.</a>
        </li>

        {% if mods.has_next %}
            <li><a href="?page={{ mods.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
</ul>
{% endblock %}