{% extends "base.html" %}
{% load modpacks %}
{% block body %}
<h2>Modpack {{ modpack.name }}</h2>
{% if builds %}
    <h3>Builds</h3>
    <ul class="builds">
    {% for build in builds %}
        <li>
            <h3>{{ build.version }} - Minecraft {{ build.mcversion.version }}&nbsp;<a href="/builds/{{ build.id }}">Edit</a><a href="/builds/{{ build.id }}/clone">Clone</a></h3>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <h3 class="builds">No builds found. <a href="/modpacks/{{ modpack.id }}/create">Create one</a></h3>
{% endif %}
{% endblock %}
