{% extends "base.html" %}
{% load modpacks %}
{% block title %}
    TechnicAntani Modpacks
{% endblock %}
{% block body %}
    <section id="content">
{% if modpacks %}
    <ul class="modpacks">
    {% for modpack in modpacks %}
        <li>
        <img src="{{ modpack.getLogoUrl }}" />
            <h3><a href="/modpacks/{{ modpack.id }}/">{{ modpack.name }}</a></h3>
            {% modpack_versions modpack %}
        </li>
    {% endfor %}
    </ul>
{% else %}
        <h3 class="modpacks">No modpacks found. Create one</h3>
{% endif %}
    <a href="/modpacks/create/">Create modpack</a>
    </section>
{% endblock %}