{% extends "base.html" %}
{% load modpacks %}
{% block menulinks %}
    <li class="active"><a href="/modpacks/">Home</a></li>
    <li><a href="/modpacks/settings/">Settings</a></li>
    <li><a href="/mods/">Mods</a></li>
    <li><a href="/mods/upload/">Add Mod</a></li>
    <li><a href="/mods/repair/">Repair</a></li>
{% endblock %}
{% block body %}
    <a class="btn btn-default" href="/modpacks/create/">Create modpack</a>
{% if modpacks %}
    {% for modpack in modpacks %}
        <div class="media">
        <a class="pull-left" href="/modpacks/{{ modpack.id }}/">
            <img class="media-object" src="{{ modpack.getLogoUrl }}">
        </a>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="/modpacks/{{ modpack.id }}/">{{ modpack.name }}</a>
                </h3>
                <div style="padding: 3px;">
                {% modpack_versions modpack %}
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <div style="margin-top: 20px" class="alert alert-warning">
        <h2>No modpacks found in the database.</h2>
    </div>
{% endif %}

{% endblock %}