{% extends "base.html" %}
{% block menulinks %}
    <li><a href="/modpacks/">Home</a></li>
    <li class="active"><a href="/modpacks/settings/">Settings</a></li>
    <li><a href="/mods/">Mods</a></li>
    <li><a href="/mods/upload/">Add Mod</a></li>
    <li><a href="/mods/repair/">Repair</a></li>
{% endblock %}
{% block body %}
    <form action="/modpacks/settings/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_api">API Keys:</label>
            <textarea type="text" maxlength="{{ form.apikey.max_length }}" class="form-control" id="id_api" name="{{ form.apikey.name }}" placeholder="API Keys separated by commas" >{{ form.apikey.value }}</textarea>
            <p class="help-block">{{ form.apikey.help_text }}</p>
        </div>
        <div class="form-group">
            <label for="id_repopath">Repo Path:</label>
            <input type="text" maxlength="{{ form.repopath.max_length }}" class="form-control" id="id_repopath" name="{{ form.repopath.name }}" placeholder="Absolute path. Should start with /" value="{{ form.repopath.value }}">
            <p class="help-block">{{ form.repopath.help_text }}</p>
        </div>
        <div class="form-group">
            <label for="id_url">Repo URL:</label>
            <input type="text" maxlength="{{ form.repourl.max_length }}" class="form-control" id="id_repourl" name="{{ form.repourl.name }}" placeholder="URL" value="{{ form.repourl.value }}" />
            <p class="help-block">{{ form.repourl.help_text }}</p>
        </div>
    <input class="btn btn-default" type="submit" value="Submit">
    </form>
    <h2>You must do this at least once after install. <a href="/modpacks/settings/mcvers">Import mcversions from the platform.</a></h2>
{% endblock %}
