{% extends "base.html" %}
{% block body %}
{% load modpacks %}
    <h2>{{ modpack.name }} - {{ build.version }} for Minecraft {{ mcver }}</h2>
    <ul id="installed_mods">
        {% for mod in mods_installed %}
            <li>
               {{ mod.modInfo.name }} {{ mod.version }}<a href="/builds/del/{{ modpack.id }}/{{ mod.id }}/">Remove</a>
            </li>
        {% endfor %}
    </ul>
    <ul id="available_mods">
        {% for mod in mods_available %}
                    {% for ver in mod|mod_versions:mcver %}
                        <li>
                            <a href="/builds/add/{{ build.id }}/{{ mod.slug }}-{{ mcver }}-{{ ver }}/">{{ mod.name }} {{ ver }}</a>
                        </li>
                    {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}