{% extends "base.html" %}
{% block body %}
{% load modpacks %}
    <h2>{{ modpack.name }} - {{ build.version }} for Minecraft {{ mcver }}</h2>
    <h3>Installed Mods</h3>
    <ul class="modpacks">
    {% if mods_installed %}
        {% for mod in mods_installed %}
            <li>
               {{ mod.modInfo.name }} {{ mod.version }}<a href="/builds/del/{{ modpack.id }}/{{ mod.id }}/">Remove</a>
            </li>
        {% endfor %}
    {% else %}
        <p>No mods added to build</p>
    {% endif %}
    </ul>
    <h3>Installable mods</h3>
    <form action=".">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
    <ul id="available_mods">
    {% if mods_available %}
        {% for mod in mods_available %}
                    {% for ver in mod|mod_versions:mcver %}
                        <li>
                            <a href="/builds/add/{{ build.id }}/{{ mod.slug }}-{{ mcver }}-{{ ver }}/">{{ mod.name }} {{ ver }}</a>
                        </li>
                    {% endfor %}
        {% endfor %}
    {% else %}
        <p>No installable mods found</p>
    {% endif %}
    </ul>
{% endblock %}